<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.Proyecto1_Globo" connectionString="Data Source=DESKTOP-JOY;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>