<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.Glovo" connectionString="Data Source=STEPH\STEPHLP;Initial Catalog=Glovo;User ID=usr_Acceso;Password=2631"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>